.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  color: white;
  background: transparent;
  border-radius: 5px;
  border: 2px solid #bbb;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  /* width: max-content; */
  color: white;
}
